@forward "normolize.scss";
@forward "fonts.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	font-family: "TT Commons Regular", sans-serif;
}

body,
#__nuxt{
	min-height: 100vh;
	min-height: 100dvh;
}

.page {
	display: flex;
	flex-direction: column;
}

.page-title{
	font-size: 84px;
	line-height: 1;
	font-weight: normal;
	margin: 0;
}